In [2]:
import pandas as pd
import numpy as np

In [4]:
childhood_violent_crime_to_load = "../Children-in-households-with-violent-crime_2014_0731_1400.csv"

childhood_violent_crime = pd.read_csv(childhood_violent_crime_to_load)

childhood_violent_crime.head()

,Characteristic,Sex,Race/ethnicity,Type of violent crime,Footnote,Year,Percentage,Standard Error on Percentage,Note on Percent,Count,Standard Error on Count,Note on Count
0,Total,NaN,NaN,NaN,NaN,2000,7.1,0.5,,5019760.0,362090.9,
1,Total,NaN,NaN,NaN,NaN,2001,6.2,0.4,,4420020.0,297104.6,
2,Total,NaN,NaN,NaN,NaN,2002,5.6,0.4,,3998780.0,335455.7,
3,Total,NaN,NaN,NaN,NaN,2003,5.8,0.4,,4203810.0,318712.6,
4,Total,NaN,NaN,NaN,NaN,2004,5.0,0.3,,3644200.0,251933.3,

In [14]:
# Remove grand total, total for males, and total for females from this analysis
childhood_violent_crime_cleaned = childhood_violent_crime.dropna(subset = ["Sex", "Race/ethnicity"])
childhood_violent_crime_cleaned

,Characteristic,Sex,Race/ethnicity,Type of violent crime,Footnote,Year,Percentage,Standard Error on Percentage,Note on Percent,Count,Standard Error on Count,Note on Count
117,"Total - Male, White, non-Hispanic, Violent crime",Male,"White, non-Hispanic",Violent crime,NaN,2000,6.7,0.6,,1868830.0,182685.1,
118,"Total - Male, White, non-Hispanic, Violent crime",Male,"White, non-Hispanic",Violent crime,NaN,2001,5.2,0.5,,1410800.0,136673.6,
119,"Total - Male, White, non-Hispanic, Violent crime",Male,"White, non-Hispanic",Violent crime,NaN,2002,4.3,0.5,,1121580.0,137437.1,
120,"Total - Male, White, non-Hispanic, Violent crime",Male,"White, non-Hispanic",Violent crime,NaN,2003,4.6,0.5,,1198070.0,134083.0,
121,"Total - Male, White, non-Hispanic, Violent crime",Male,"White, non-Hispanic",Violent crime,NaN,2004,5.0,0.5,,1241850.0,122063.9,
...,...,...,...,...,...,...,...,...,...,...,...,...
788,"Total - Female, Two or more races, non-Hispani...",Female,"Two or more races, non-Hispanic",Simple assault,NaN,2008,12.6,4.2,Interpret with caution. Estimate based on 10 o...,54290.0,20506.5,Interpret with caution. Estimate based on 10 o...
789,"Total - Female, Two or more races, non-Hispani...",Female,"Two or more races, non-Hispanic",Simple assault,NaN,2009,14.1,4.6,Interpret with caution. Estimate based on 10 o...,51370.0,19338.4,Interpret with caution. Estimate based on 10 o...
790,"Total - Female, Two or more races, non-Hispani...",Female,"Two or more races, non-Hispanic",Simple assault,NaN,2010,2.7,1.6,Interpret with caution. Estimate based on 10 o...,9570.0,5901.6,Interpret with caution. Estimate based on 10 o...
791,"Total - Female, Two or more races, non-Hispani...",Female,"Two or more races, non-Hispanic",Simple assault,NaN,2011,7.0,2.6,Interpret with caution. Estimate based on 10 o...,26070.0,10677.3,Interpret with caution. Estimate based on 10 o...
792,"Total - Female, Two or more races, non-Hispani...",Female,"Two or more races, non-Hispanic",Simple assault,NaN,2012,9.8,3.4,Interpret with caution. Estimate based on 10 o...,38530.0,14618.0,Interpret with caution. Estimate based on 10 o...