In [1]:
import pandas as pd
import numpy as np

In [2]:
childhood_violent_crime_to_load = "../Children-in-households-with-violent-crime_2014_0731_1400.csv"
college_enrollment_to_load = "../userssharedsdfperc18to24yoenrld24ycsre20002012.csv"

childhood_violent_crime = pd.read_csv(childhood_violent_crime_to_load)
college_enrollment = pd.read_csv(college_enrollment_to_load)

In [3]:
# Remove grand total, total for males, and total for females from this analysis
childhood_violent_crime_cleaned = childhood_violent_crime.dropna(subset = ["Sex", "Race/ethnicity"])
college_enrollment_cleaned = college_enrollment.dropna(subset = ["Sex", "Race/ethnicity"])

childhood_violent_crime_reduced = childhood_violent_crime_cleaned[["Race/ethnicity", "Sex", "Year",
                                                                  "Type of violent crime", "Percentage",
                                                                  "Standard Error on Percentage", "Count", 
                                                                  "Standard Error on Count"]]
college_enrollment_reduced = college_enrollment_cleaned[["Race/ethnicity", "Sex", "Year", "Percentage", 
                                                         "Standard Error on Percentage", "Count (in thousands)", 
                                                         "Standard Error on Count (in thousands)"]]

childhood_violent_crime_reduced.head()
#college_enrollment_reduced.head()

,Race/ethnicity,Sex,Year,Type of violent crime,Percentage,Standard Error on Percentage,Count,Standard Error on Count
117,"White, non-Hispanic",Male,2000,Violent crime,6.7,0.6,1868830.0,182685.1
118,"White, non-Hispanic",Male,2001,Violent crime,5.2,0.5,1410800.0,136673.6
119,"White, non-Hispanic",Male,2002,Violent crime,4.3,0.5,1121580.0,137437.1
120,"White, non-Hispanic",Male,2003,Violent crime,4.6,0.5,1198070.0,134083.0
121,"White, non-Hispanic",Male,2004,Violent crime,5.0,0.5,1241850.0,122063.9

In [4]:
child_crime_college_enrol = pd.merge(college_enrollment_reduced, childhood_violent_crime_reduced, 
                                     on = ["Race/ethnicity", "Sex", "Year"])

child_crime_college_enrol = child_crime_college_enrol.rename(columns = {"Percentage_x":"% College Enroll", 
                                                                        "Standard Error on Percentage_x":"S.E. for % College Enroll", 
                                                                       "Count (in thousands)":"College Enroll Count (in thousands)",
                                                                       "Standard Error on Count (in thousands)":"S.E. for College Enroll Count",
                                                                       "Percentage_y":"% Youth Crime Exposure",
                                                                       "Standard Error on Percentage_y":"S.E. for % Youth Crime Exposure",
                                                                       "Count":"Youth Crime Exposure Count",
                                                                       "Standard Error on Count":"S.E. on Youth Crime Exposure Count"})

In [5]:
child_crime_college_enrol

,Race/ethnicity,Sex,Year,% College Enroll,S.E. for % College Enroll,College Enroll Count (in thousands),S.E. for College Enroll Count,Type of violent crime,% Youth Crime Exposure,S.E. for % Youth Crime Exposure,Youth Crime Exposure Count,S.E. on Youth Crime Exposure Count
0,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Violent crime,6.7,0.6,1868830.0,182685.1
1,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Serious violent crime,2.0,0.3,553060.0,78395.0
2,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Simple assault,5.0,0.5,1405860.0,149831.7
3,"White, non-Hispanic",Male,2001,37.2%,0.79,3291.0,87.0,Violent crime,5.2,0.5,1410800.0,136673.6
4,"White, non-Hispanic",Male,2001,37.2%,0.79,3291.0,87.0,Serious violent crime,1.6,0.2,432390.0,61717.5
...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Two or more races, non-Hispanic",Female,2011,46%,5.07,123.0,16.0,Serious violent crime,5.6,2.3,20880.0,9317.5
308,"Two or more races, non-Hispanic",Female,2011,46%,5.07,123.0,16.0,Simple assault,7.0,2.6,26070.0,10677.3
309,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Violent crime,9.8,3.4,38530.0,14618.0
310,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Serious violent crime,NaN,NaN,NaN,NaN
311,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Simple assault,9.8,3.4,38530.0,14618.0